.footer {
  margin-top: 10rem;
  grid-column: -1/1;
  padding: 2rem 0;
  // background-color: #333333
  background-image: linear-gradient(
      to right,
      rgba(34, 34, 34, 0.9),
      rgba(20, 20, 20, 0.8)
    ),
    url("../img/footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: 1fr repeat(3, minmax(min-content, 40rem)) 1fr;
  grid-column-gap: 2rem;
  @media screen and (max-width: $bp-700) {
    grid-template-columns: 1fr repeat(2, minmax(min-content, 40rem)) 1fr;
    grid-template-rows: repeat(2, min-content);
  }

  @media screen and (max-width: $bp-500) {
    grid-template-columns: 1fr minmax(min-content, 40rem) 1fr;
    grid-template-rows: repeat(3, min-content);
  }
  // grid-column: ;

  &__heading {
    color: white;
  }

  &__icon > img {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }

  &__details-1 {
    grid-column: 2/3;
  }

  &__details-2 {
    @media screen and (max-width: $bp-500) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }

  &__details-3 {
    @media screen and (max-width: $bp-700) {
      grid-row: 2/3;
      grid-column: 2/4;
    }

    @media screen and (max-width: $bp-500) {
      grid-column: 2/3;
      grid-row: 4/5;
    }

    // grid-column: 2/3;
  }

  &__paragrapgh {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    color: white;
    padding: 1rem;
    // letter-spacing: 1px;
    text-align: justify;
  }

  &__socials {
    padding: 2rem 0;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
  }
}

.tweets {
  &__list {
    // letter-spacing: 1px;
    list-style-type: none;
    font-size: 1.3rem;

    // line-height: 2;
    padding: 1rem;
    color: white;
    font-family: "Montserrat", sans-serif;
  }

  &__item {
    padding: 0.5rem 0;
    text-align: justify;
    display: flex;

    align-items: center;
  }

  &__pionter {
    // height: 100%;
    // display: flex;
    transform: translateY(15%);
    // justify-content: center;

    padding: 0 1rem;
  }
}
